<div class="col-lg-12">
          
    <div class="widget-next-match">
      <table class="table custom-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Team One</th>
            <th>Team Two</th>
            <th>Score One</th>
            <th>Score Two</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elt of allMatches">
            <td>{{elt.id}}</td>
            <td><strong class="text-white">{{elt.teamOne}}</strong></td>
            <td><strong class="text-white">{{elt.teamTwo}}</strong></td>
            <td>{{elt.scoreOne}}</td>
            <td>{{elt.scoreTwo}}</td>
            <td>
                <button class="btn btn-info" (click)="goToInfo(elt.id)">Display</button>
                <button class="btn btn-warning" (click)="goToEdit(elt.id)">Edit</button>
                <button class="btn btn-danger" (click)="deleteMatch(elt.id)">Delete</button>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>

  </div>